<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Core.Common" version="0.1.16" targetFramework="portable-net45+win+wp80" />
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="portable-net45+win+wp80" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable-net45+win+wp80" />
</packages>