<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Core.Common" version="0.1.26" targetFramework="portable-net40+win" />
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="portable-net40+win" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable-net40+win" />
</packages>