<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Core.Calendar" version="0.1.15" targetFramework="net45" />
  <package id="Core.Common" version="0.1.42" targetFramework="net45" />
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="net45" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
</packages>